body{
    font-family: 'Oswald', sans-serif;
    margin:0%;
}
section{
    height: 500px;
    padding-bottom: 150px;

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1 span{
    color: orange;
}
h1{
    font-size: 50px;
}
.half-width img{
    width: 85%;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(226, 198, 72), tomato);
    padding: 10px 40px;
    border-radius: 40px;
    color: white;
    font-weight: 700; 
}
.top-banner{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;

}
.branch{
    text-align: center;
}
.column {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px rgba(236, 213, 219, 0.897);
    
    
  }
.Another{
    padding-left:3%;
    padding-right: 3%;
    padding-bottom: 20%;
}
.row{
    display: flex;
}
.images-size{
    height:310px;
    width: 310px;
    border-radius: 20px;
}
.bottom{
    padding-top:1%;
    padding-bottom:3%;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.social{
    height:0px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom:5%;
    border-radius: 25px;
    box-shadow: 10px 10px 40px rgba(192, 204, 151, 0.938) ;
}
.fix{
    margin-left: 10%;
    margin-right: 10%;
}
.another-color{
    color: white;
}