body{
    font-family: 'Oswald', sans-serif;
    margin:0%;
}
section{
    height: 500px;
    padding-bottom: 150px;

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1 span{
    color: orange;
}
h1{
    font-size: 50px;
}
.half-width img{
    width: 85%;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(226, 198, 72), tomato);
    padding: 10px 40px;
    border-radius: 40px;
    color: white;
    font-weight: 700; 
}
.top-banner{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;

}
